{% extends "layout.html" %}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">                    
                    <!-- Post preview-->
                    <h1>Basic Action</h1>
                    <a href="\edit\0"><button class="btn btn-primary">Add New Post</button></a>
                    <a href="\logout"><button class="btn btn-primary">Logout</button></a>
                    <hr>
                    <h1>Upload a file</h1>
                    <form action="\uploader" method="post" enctype="multipart/form-data">
                        <input type="file" name="file1">
                        <button class="btn btn-primary">Submit</button> 
                    </form>
<h1>Edit Posts</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sr No</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                         {% for post in posts -%}                    

                      <tr>
                        <td>{{post.srno}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.date}}</td>
                        <td><a href="\edit\{{post.srno}}"><button class="btn btn-primary">Edit</button></a></td>
                        <td><a href="\delete\{{post.srno}}"><button class="btn btn-primary">Delete</button></a></td>
                      </tr>                     
                       {%- endfor %}
                    </tbody>
                  </table>
                    
                    <!-- Pager-->
                  
                </div>
            </div>
        </div>
{% endblock %}