{% extends "layout.html" %}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                     <h1>Basic Action</h1>
                    <a href="\dashboard"><button class="btn btn-primary">Dashboard home</button></a>
                    <a href="\logout"><button class="btn btn-primary">Logout</button></a>
                    <hr>
                    <!-- Post preview-->
<h1>Add/Edit Posts</h1>
                 
                     <form name="sentMessage" id="contactForm" action = "/edit/{{post.srno}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="title" id="name" name='title' required data-validation-required-message="Please enter your name." value="{{post.title}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>            
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" class="form-control" placeholder="Slug" name="slug" id="slug" required data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="5" class="form-control" placeholder="Content" name = "content" id="content" required data-validation-required-message="Please enter a message." >{{post.content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>

             <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Imgage file</label>
                <input type="text" class="form-control" placeholder="Message" name = "img_file" id="img_file" required data-validation-required-message="Please enter a message." value="{{post.img_file}}"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
          </form>
                    <!-- Pager-->
                  
                </div>
            </div>
        </div>
{% endblock %}